#app2 .tab-bar {
  display: flex;
}
#app2 .tab-bar > li {
  border: 1px solid grey;
  width: 50%;
}
#app2 .tab-bar > li.selected {
  background: rgb(66, 212, 9);
  color: white;
}
#app2 .tab-content > li {
  display: none;
}
#app2 .tab-content > li.active {
  display: block;
}
